{% extends 'mascotasblog/inicio.html' %}  
    {% load static %}

{% block contenidoquecambia %}
            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">¡Acá ancontraras las mejores fotos de nuestros amigos peludos, miembros de esta hermosa comunidad de Dlog!</h1>
                                <p class="lead fw-normal text-muted mb-4">Nuestro equipo se ocupa de moderar la comunidad, mantener y conseguir el mejor contenido para seguir creciendo. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://as01.epimg.net/diarioas/imagenes/2021/07/21/actualidad/1626850303_934147_1626850623_noticia_normal_recorte1.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Nuestros perritos</h2>
                            <p class="lead fw-normal text-muted mb-0">Podes presentar a la comunidad a tu perrito, contarnos de sus gustos y cuidados o caprichos que recibe. Porque todos queremos que nuestro compañero sea feliz, y esté bien cuidado acá leeremos consejos y tips que aporta nuestra comunidad. Todo aporte suma, todo consejo suma, toda critica siempre que sea constructiva y con respeto y nos ayude a mejorar a todos suma. Sumate a Dlog.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://as.com/diarioas/imagenes/2020/11/08/actualidad/1604843600_934489_1604843795_noticia_normal_recorte1.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Misión</h2>
                            <p class="lead fw-normal text-muted mb-0">Desde Dlog tenemos como misión ayudar. Primero, a formar una comunidad amante de los animales hermanados por nuestro amor a los perros, y que esta se ayude mutuamente. Segundo, ayudar a toda persona con vocación y amor por los animales que cuente con refugios y tareas de rescate de perros, ya sea ayuda monetaria, transito de perros o ayuda a conseguir hogar a perritos que no lo tienen. </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Administradores de Dlog</h2>
                        <p class="lead fw-normal text-muted mb-5">Les agradecemos a todos los miembros que forman esta hermosa comunidad, que cada vez es mas grande, hermosa y peluda! Gracias!!!</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://ae01.alicdn.com/kf/H85e8b010f1d54832b9d429a4a45ec64fv/OCCI-CHIARI-gafas-graduadas-para-miop-a-para-hombre-lentes-transparentes-de-acetato-gafas-graduadas-para.jpg_50x50.jpg_.webp" alt="..." />
                                <h5 class="fw-bolder">Francisco Meoniz</h5>
                                <div class="fst-italic text-muted">Creador de Dlog</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://ae01.alicdn.com/kf/H85e8b010f1d54832b9d429a4a45ec64fv/OCCI-CHIARI-gafas-graduadas-para-miop-a-para-hombre-lentes-transparentes-de-acetato-gafas-graduadas-para.jpg_50x50.jpg_.webp" alt="..." />
                                <h5 class="fw-bolder">Francisco Meoniz</h5>
                                <div class="fst-italic text-muted">Moderador de Dlog</div>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
        </main>
        {% endblock contenidoquecambia %}
            
        <!-- FIN CONTENIDO DINAMICO DE PAGINA-->